@{
    ViewData["Title"] = "Dashboard Administrativo";
}

<div class="dashboard-root">
    <div class="cards-row">
        <div class="card-placeholder">Servicios Activos<br /><span class="big">12</span></div>
        <div class="card-placeholder">Más solicitado<br /><span class="big">Masaje Relajante</span></div>
        <div class="card-placeholder">Menos solicitado<br /><span class="big">Tratamiento Facial</span></div>
        <div class="card-placeholder">Tiempo Promedio<br /><span class="big">90 min</span></div>
    </div>

    
    
</div>
